body {
    font-size: 16px;
}

.subjects-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.subjects {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
}

.subject-card {
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.2s ease;
    cursor: pointer;
}

.subject-card:hover {
    transform: scale(1.05);
}

@media (max-width: 600px) {
    .subjects-grid {
        grid-template-columns: 1fr;
    }
}


.avatar {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin: 0 auto;
}

.avatar img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
}

.profile {
    position: fixed;
    right: 30px;
    top: 10px;
    max-width: 130px;
    padding: 10px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    font-family: Arial, sans-serif;
    color: #333;
    transition: box-shadow 0.3s ease;
    cursor: pointer;
}

.profile:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

#username {
    font-style: italic;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 14px;
    color: #555;
    margin-top: 5px;
}

#logout {
    font-size: 16px;
    padding: 5px 10px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

#logout:hover {
    transform: scale(1.05);
    transition: all 0.2s ease-in-out;
}
.journal-type-header-container{
    margin: 0 auto;
    text-align: center;
}
.journal-type-header {
    display: inline-block;
    font-size: 24px;
    font-weight: bold;
    color: #333;
    background-color: #f2f2f2;
    padding: 10px 15px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: background-color 0.3s, transform 0.3s;
    margin-bottom: 10px;
    margin-top: 10px;
}

table {
    text-align: left;
    margin: 0 auto;
    margin-top: 10px;
    max-width: 85%;
    /* width: calc(85%); */
    border-collapse: collapse;
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: #333;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
    overflow-x: auto;
}

th {
    padding: 12px 15px;
    border-bottom: 1px solid #dddddd;
}

td {
    padding: 12px 15px;
    border-bottom: 1px solid #dddddd;
}

thead tr {
    background-color: #4CAF50;
    color: #ffffff;
    text-align: left;
    font-weight: bold;
}

tbody tr {
    background-color: #f9f9f9;
    transition: background-color 0.3s ease;
}

tbody tr td:last-child {
    border: 1px solid #dddddd;
    text-align: center;
}

.grade, .attendance, .class-date {
    cursor: pointer;
    position: relative;
}

.grade:hover, .class-date:hover {
    transform: scale(1.25);
    transition: all 0.2s ease-in-out;
}
.attendance:hover{
    transform: scale(1.05);
    transition: all 0.2s ease-in-out;
}
.tooltip {
    visibility: hidden; 
    /* width: 100px;  */
    background-color: #555; 
    color: #fff; 
    text-align: center; 
    border-radius: 5px;  
    padding: 5px 10px;
    position: absolute;  
    z-index: 1;
    bottom: 125%;  
    left: 50%;
    margin-left: -75px;
    opacity: 0; 
    transition: opacity 0.3s; 
    font-size: 12px;
    left: 50%; 
    transform: translate(0%, 100%); 
    white-space: nowrap;
    right: auto;
}

.grade:hover .tooltip, .attendance:hover .tooltip, .class-date:hover .tooltip {
    visibility: visible;
    opacity: 1; 
}
.icon {
    position: absolute;
    bottom: 5px; 
    right: 5px; 
    font-weight: bold; 
    color: white; 
    font-size: 20px;
    opacity: 1; 
}
tbody tr:nth-of-type(even) {
    background-color: #f1f1f1;
}

tbody tr:hover {
    background-color: #e0f7fa;
}

tbody tr:last-of-type {
    border-bottom: 2px solid #4CAF50;
}
.present{
    background-color: #45a050;
}
.absent{
    background-color: #FF6F61;
}
.export-container{
    margin: 0 auto;
    text-align: center;
}
.export {
    background-color: #4CAF50;
    color: white; 
    padding: 12px 24px; 
    border: none; 
    border-radius: 5px; 
    font-size: 16px; 
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    margin-top: 15px;
}
.export:hover {
    background-color: #45a049; 
    transform: scale(1.05);
}

.export:active {
    transform: scale(0.95);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); 
}
select {
    display: block;
    padding: 10px 15px;
    font-size: 16px;
    color: #333;
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    appearance: none;
    /* Убирает стандартный вид стрелки */
    -moz-appearance: none;
    /* Для Firefox */
    -webkit-appearance: none;
    /* Для Safari и Chrome */
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 24 24'%3E%3Cpath fill='%23999' d='M7 10l5 5 5-5z'/%3E%3C/svg%3E");
    /* Кастомная стрелка */
    background-repeat: no-repeat;
    background-position: right 10px center;
    margin: 0 auto;
    width: calc(100%);
    max-width: 300px;
}

select:hover {
    border-color: #4CAF50;
}
select[disabled]:hover{
    border: 1px solid #ddd;
    cursor: not-allowed;
}
select:focus {
    outline: none;
    border-color: #4CAF50;
    box-shadow: 0 0 0 3px rgba(76, 175, 80, 0.2);
}

select option {
    padding: 10px;
}

.journal-type-container {
    margin: 0 auto;
    text-align: center;
    margin-top: 10px;
}

.journal-type-container div {
    display: inline-block;
}

.journal-type-container div:first-child {
    margin-right: 10px;
}

.journal-type-container div:hover {
    transform: scale(1.25);
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}

input[type="radio"] {
    user-select: none;
}
#reports {
    margin: 10px; /* Отступы для кнопки */
    margin-top: 20px;
    background-color: #4CAF50; /* Зеленый цвет */
    color: white; /* Цвет текста */
    padding: 10px 20px; /* Отступы */
    border: none; /* Без рамки */
    border-radius: 5px; /* Закругленные углы */
    cursor: pointer; /* Указатель при наведении */
    font-size: 16px; /* Размер шрифта */
    /* width: 100%; Занять всю ширину сайдбара */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Легкая тень для кнопки */
    transition: background-color 0.3s, transform 0.3s; /* Плавный переход цвета фона и трансформации */
    height: fit-content;
}

#reports:hover {
    background-color: #45a049; /* Темнее при наведении */
}
.sidebar {
    position: absolute; /* Абсолютное позиционирование */
    top: 0; /* Расположить вверху */
    left: -180px; /* Начальное скрытое положение */
    width: 200px; /* Ширина колонки */
    height: 100%; /* Полная высота */
    background-color: #f0f0f0; /* Цвет фона колонки */
    transition: left 0.3s; /* Плавный переход для свойства left */
    z-index: 1000; /* Поверх других элементов */
    /* align-items: center; Вертикальное выравнивание по центру */
    justify-content: center;
    display: flex; 
}
.sidebar:hover {
    left: 0px; /* Полная ширина при наведении */
}
label {
    display: block; /* Блоковое отображение для меток */
    margin-bottom: 5px; /* Отступ под меткой */
    font-weight: bold; /* Жирный шрифт для меток */
}
#generate-report {
    margin: 0 auto;
    margin-top: 20px;
    display: block; /* Блочное отображение для кнопки */
    padding: 10px; /* Отступы внутри кнопки */
    background-color: #4CAF50; /* Зеленый фон для кнопки */
    color: white; /* Цвет текста */
    border: none; /* Без рамки */
    border-radius: 5px; /* Закругленные углы */
    font-size: 18px; /* Размер шрифта */
    cursor: pointer; /* Указатель при наведении */
    transition: background-color 0.3s; /* Плавный переход цвета фона */
}

.generate-report:hover {
    background-color: #45a049; /* Темнее при наведении на кнопку */
}
h1 {
    text-align: center; /* Выравнивание заголовка по центру */
    color: #333; /* Цвет заголовка */
}
.back-button {
    display: inline-block;
    padding: 10px 15px;
    margin: 10px 0;
    background-color: #4CAF50;
    /* Цвет фона кнопки */
    color: white;
    /* Цвет текста */
    border-radius: 5px;
    /* Закругленные углы */
    text-decoration: none;
    /* Убираем подчеркивание */
    font-size: 16px;
    /* Размер шрифта */
    transition: background-color 0.3s;
    /* Плавный переход */
}

.back-button:hover {
    background-color: #45a049;
    /* Цвет при наведении */
}

.subject-card span {
    font-size: 20px;
}

.subjects-title {
    font-size: 24px;
    /* Размер шрифта */
    font-weight: bold;
    /* Жирный шрифт */
    color: #333;
    /* Цвет текста */
    text-align: center;
    /* Выравнивание по центру */
    margin: 20px 0;
    /* Отступ сверху и снизу */
    position: relative;
    /* Позволяет использовать псевдоэлементы */
}

.subjects-title::after {
    content: "";
    /* Псевдоэлемент без содержимого */
    display: block;
    /* Отображаемый блок */
    width: 50px;
    /* Ширина линии */
    height: 4px;
    /* Высота линии */
    background-color: #4CAF50;
    /* Цвет линии */
    margin: 10px auto;
    /* Центрируем линию */
}

@media (max-width: 768px) {
    .profile {
        position: absolute;
        width: 80px;
        margin-left: 10px;
        padding: 0px;
        right: 10px;
    }

    .avatar {
        width: 30px;
        /* Уменьшаем размер аватарки */
        height: 30px;
        /* Уменьшаем высоту аватарки */
    }

    #username {
        font-size: 10px;
        /* Уменьшаем размер шрифта для имени */
        text-align: center;
        /* Центрируем текст */
        white-space: nowrap;
        /* Отключаем перенос строк */
    }

    table {
        flex: 1;
        /* Таблица занимает всё оставшееся пространство */
        padding-right: 0;
        /* Убираем отступ справа для таблицы */
        margin-top: 10px;
        /* Добавляем отступ сверху для лучшего визуального разделения */
        width: 100%;
    }

    #logout {
        font-size: 10px;
    }

    select {
        width: 50%;
    }
    .journal-type-header{
        font-size: 16px;
    }
}